<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/join" method="POST">
      <label for="passcode">Enter the secret passcode:</label>
      <input type="password" name="passcode" />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Go Back</a>
  </body>
</html>
