<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <h1>Log In</h1>
    <% if (error && error.length > 0) { %>
    <p><%=error[0] %></p>
    <% } %>
    <form action="/log-in" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <button type="submit">Log In</button>
    </form>
    <a href="/sign-up">SIGN UP</a>
  </body>
</html>
